doctype html
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        title AcFun Html5 Player - Ver. 北山しずく
        meta(name="viewport",content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet",href="style/main.css")
        script(src="http://static.acfun.mm111.net/dotnet/20130418/script/jquery.2.1.1.min.js")
        script(src="bin/CommentCoreLibrary.js")
        script(src="bin/shizuku.js")
    body
        div.player
            include ./layout/preload
            include ./layout/container
        script.
            var Kitayama_Shizuku = new shizuku();