doctype html
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        title AcFun Html5 Player - By Akino Mizuho.Koukuko
        meta(name="viewport",content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet",href="style/main.css")
    body
        div.player
            include ./layout/preload
            include ./layout/container