/**
 * 控制栏
 */

.controller
  background rgba(0, 0, 0, .6)
  border-radius 20px
  position absolute
  left 4%
  right 4%
  bottom 40px
  height 80px

  z-index 10
  .controller-btn-play, .controller-btn-fullscreen
    height 80px
    width 80px
  .controller-btn-play
    float left
    border-right 1px solid rgba(255, 255, 255, .6)
  .controller-btn-fullscreen
    float right
    border-left 1px solid rgba(255, 255, 255, .6)
  .controller-line
    position absolute
    height 80px
    left 80px
    right 80px
    top 0
    .controller-line-now, .controller-line-total
      width 120px
      line-height 80px
      height 80px
      color #FFF
      font-size 26px
      text-align center
    .controller-line-now
      float left
    .controller-line-total
      float right
    .controller-line-output-bg
      position absolute
      top 33px
      bottom 32px
      left 130px
      right 130px
      border-radius 12px
      background #D6D6D6
      box-shadow 0 2px 4px rgba(0, 0, 0, .3)
      .controller-line-output-loaded, .controller-line-output-played
        position absolute
        height 100%
        border-radius 12px
      .controller-line-output-loaded
        background: #bac1c5; /* Old browsers */
        background: -moz-linear-gradient(top, #bac1c5 0%, #6e7781 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bac1c5), color-stop(100%, #6e7781)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #bac1c5 0%, #6e7781 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #bac1c5 0%, #6e7781 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #bac1c5 0%, #6e7781 100%); /* IE10+ */
        background: linear-gradient(to bottom, #bac1c5 0%, #6e7781 100%);
      /* W3C */
      .controller-line-output-played
        background: #40b8e0; /* Old browsers */
        background: -moz-linear-gradient(top, #40b8e0 0%, #157bcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40b8e0), color-stop(100%, #157bcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #40b8e0 0%, #157bcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #40b8e0 0%, #157bcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #40b8e0 0%, #157bcd 100%); /* IE10+ */
        background: linear-gradient(to bottom, #40b8e0 0%, #157bcd 100%);
    /* W3C */
    .controller-line-output-range
      position absolute
      width 100%
      height 32px
      top -6px
      background transparent
      -webkit-appearance none
      outline none
      margin 0
      padding 0
      border none
      &::-moz-range-track
        border inherit
        background transparent
      &::-ms-track
        border inherit
        color transparent
        background transparent
      &::-ms-fill-lower,&::-ms-fill-upper
        background transparent
      &::-ms-tooltip
        display none
      &::-webkit-slider-thumb
        -webkit-appearance none
        width 32px
        height 32px
        border none
        border-radius 50%
        background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#cccccc))
        background -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#cccccc 100%)
        background radial-gradient(ellipse at center, #ffffff 0%,#cccccc 100%)
        box-shadow 0 4px 5px rgba(0,0,0,.3)
      &::-moz-range-thumb,&::-ms-thumb
        width 32px
        height 32px
        border none
        border-radius 50%
        background radial-gradient(ellipse at center, #ffffff 0%,#cccccc 100%)
        box-shadow 0 4px 5px rgba(0,0,0,.3)

.controller-icon
  background url(../images/sprite.png) no-repeat top left;
  width 24px
  height 24px
  display inline-block
.controller-icon-play
  margin  28px
  background-position 0 -624px
  &:hover
    background-position 0 -936px
.controller-icon-pause
  margin  28px
  background-position 0 -728px
  &:hover
    background-position 0 -1040px
.controller-icon-fullscreen
  margin  28px
  background-position 0 -832px
  &:hover
    background-position 0 -1144px


.toolTip
  background rgba(0, 0, 0, .6)
  border-radius 20px
  position absolute
  bottom 150px
  height 40px
  line-height 40px
  padding 3px 20px
  font-size 20px
  display none
  z-index 10