/**
 * AcFun Html5 Player - Style
 *
 * @author Akino Mizuho.Koukuko<9@acfun.tv>
 * @date 2014-09-16 14:01:48
 */

@import "widget.styl"
@import "global.styl"

.player

  width 100%
  height 100%

  color #fff
  font-size 12px

  // 预载入
  @import "preload.styl"

  // 主体
  @import "container.styl"