div.controller
    div.controller-btn-play
        i.controller-icon.controller-icon-play
    div.controller-btn-fullscreen
        i.controller-icon.controller-icon-fullscreen
    div.controller-line
        span.controller-line-now 00:00
        span.controller-line-total 00:00
        div.controller-line-output-bg
            div.controller-line-output-loaded(style='width:5%')
            div.controller-line-output-played(style='width:0%')
            input.controller-line-output-range(type="range" ,min="0" ,max="0",value="0")
div.toolTip